<footer class="bg-grey-dark-2">
    <div class="container-fluid bg-grey-dark">
        <div class="row">
            <div class="col-md-6 mt-2 mb-2 text-light">
                <small class="txt-footer">©2020 tous droits réservés - Juin 2020 - Association Dis, comment on dit ?
                </small>
            </div>
            <div class="col-md-6 mt-2 mb-2 text-light text-right">
                <a class="d-sm-inline text-decoration-none text-white align-middle" href="index.php?controller=contact&action=start" target="_blank">
                    <small class="d-md-inline txt-footer"><i class="fas fa-envelope"></i> Nous contacter</small>
                </a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>