<main id="main">
    <header>
        <div class="siteCache" id="siteCache"></div>
        <div class="buttonMenu" id="buttonMenu">
            <div id="hide-menu" class="btn-header">
                <span>
                    <a href="#" id="sidebarCollapse" data-action="toggleMenu" title="Aggrandir le menu">
                        <i class="fa fa-reorder"></i>
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </span>
            </div>
            <div class="inner-header {header-css}">
                <i class="{fa-gifts}"></i>
                <div class="header-content">
                    <div class="my-page-title">
                        {titreFormulaire}</div>
                </div>
            </div>
        </div>
        <nav id="principal" class="menu">
            <div id="open-menu" class="btn-header">
                <span>
                    <a href="#" id="closedMenu" data-action="toggleMenu" title="Déplier le menu">
                        <i class="fa fa-arrow-left"></i>
                        <i class="fa fa-reorder"></i>
                    </a>
                </span>
            </div>
            <div class="inner-left-pannel">
                <div class="my-avatar">
                    <a href="index.php" title="Voir l'association">
                        <img src="{logoPrincipal}" class="img-fluid img-circle img-thumbnail" alt="logo">
                    </a>
                </div>
                <div class="my-moving-parts">
                    <div class="my-param-content"></div>
                    <div class="my-normal-content">
                        <div class="my-search-field">
                            <div class="">
                                <div class="">
                                    <form method="POST" name="member-filter" class="member-filters"
                                        action="index.php?controller=adherent&action=detailMember" id="member-filter">
                                        <div class="">
                                            <div class="row my-form-element-container">
                                                <div class="form-element search-button font-family-FA">
                                                    <input type="submit" name="submit" class="btn btn-primary"
                                                        value="&#xf002">
                                                </div>
                                                <div class="form-element search-field">
                                                    <div id="search_member" class="form-group">
                                                        <select id='sel_members' name='sel_members'></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="inner-tabs-navigation" data-active="menu">
                            <div class="onglets" data-onglet="menu" title="Ouvrir le menu de navigation">
                                Navigation </div>
                            <div class="onglets" data-onglet="account" title="Voir mon compte">
                                Mon compte </div>
                        </div>
                        <div class="inner-tabs">
                            <div class="account-tab">

                                <div class="parameters-opener" title="Ouvrir mes paramètres">
                                    <a href="{account}" class="btn btn-labeled btn-primary"
                                        style="margin-top:9px; margin-right:9px">
                                        <span class="btn-label" style="font-size: 13px;font-weight: 900;">
                                            <i class="fa falock fa-cog"></i></span>
                                        <span class="title">Paramètres du compte</span>
                                    </a>
                                </div>
                                <div class="logout-opener" title="Ouvrir mes paramètres">
                                    <a href="{logout}" class="btn btn-labeled btn-danger confirm"
                                        data-callback="confirmLogoutCallback" title="Déconnexion"
                                        data-confirm="{&quot;title&quot;:&quot;D\u00e9connexion&quot;,&quot;content&quot;:&quot;Vous pouvez am\u00e9liorer votre s\u00e9curit\u00e9 apr\u00e8s vous \u00eatre d\u00e9connect\u00e9 en fermant votre navigateur.&quot;,&quot;yes_button_text&quot;:&quot;Oui&quot;,&quot;no_button_text&quot;:&quot;Non&quot;}"
                                        style="margin-top:9px; margin-right:9px">
                                        <span class="btn-label" style="font-size: 13px;font-weight: 900;">
                                            <i class="fa fa-sign-out"></i></span>
                                        <span class="title">Déconnexion</span>
                                    </a>
                                </div>
                            </div>
                            <div class="menu-tab">
                                <nav class="menu-principal">
                                    <ul class="menu-principal-list">
                                        <li>
                                            <a data-dl-view="true" data-dl-title="Tableau de bord" href="index.php">
                                                <span class="icon-container">
                                                    <i class="fa fa-dashboard fa-xs"></i>
                                                </span>
                                                <span class="text item">
                                                    Tableau de bord </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-dl-view="true" data-dl-title="Paramétrage de l'association"
                                                href="{actionParamAssoc}">
                                                <span class="icon-container">
                                                    <i class="fas fa-cog"></i>
                                                </span>
                                                <span class="text item">
                                                    Paramétrage de l'association</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-dl-view="true" data-dl-title="Ajouter un adhérent"
                                                href="{actionAddMembers}" class="show-if-mobile">
                                                <span class="icon-container">
                                                    <i class="fa fa-plus-circle"></i>
                                                </span>
                                                <span class="text item">
                                                    Ajouter un adhérent </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-dl-view="true" data-dl-title="Liste adhérents"
                                                href="{actionListMembers}">
                                                <span class="icon-container">
                                                    <i class="fa fa-users"></i>
                                                </span>
                                                <span class="text item">
                                                    Liste des adhérents </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-dl-view="true" data-dl-title="Ajouter un utilisateur"
                                                href="{actionAddUsers}">
                                                <span class="icon-container">
                                                    <i class="fas fa-toolbox"></i>
                                                </span>
                                                <span class="text item">
                                                    Ajouter un utilisateur </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-dl-view="true" data-dl-title="Gérer vos dons"
                                                href="{actionAddDonations}">
                                                <span class="icon-container">
                                                    <i class="fas fa-gifts"></i>
                                                </span>
                                                <span class="text item">
                                                    Gérer vos dons </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-dl-view="true" data-dl-title="Créer une campagne"
                                                href="{actionCreateCampaign}">
                                                <span class="icon-container">
                                                    <i class="fas fa-globe-europe"></i>
                                                </span>
                                                <span class="text item">
                                                    Créer une campagne </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-dl-view="true" data-dl-title="Consulter vos documents"
                                                href="{actionReadDocuments}">
                                                <span class="icon-container">
                                                    <i class="fas fa-atlas"></i>
                                                </span>
                                                <span class="text item">
                                                    Consulter vos documents </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-dl-view="true" data-dl-title="Gérer vos news"
                                                href="{actionCreateNews}">
                                                <span class="icon-container">
                                                    <i class="fas fa-rss"></i>
                                                </span>
                                                <span class="text item">
                                                    Gérez vos news </span>
                                            </a>
                                        </li>
                                        <li class="active">
                                            <a data-dl-view="true" data-dl-title="Gérer vos groupes"
                                                href="{actionAddGroupMembers}">
                                                <span class="icon-container">
                                                    <i class="fas fa-hotel"></i>
                                                </span>
                                                <span class="text item">
                                                    Gérez vos groupes </span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
        </nav>
    </header>
    <div class="container">
        <h2 class="text-center mt-4 mb-4">{titreFormulaire}</h2>
        {message}
        <div class="col-md-12 mb-md-0 mb-5 pt-2 pb-2 pl-3 pr-3">
            <form action="index.php?controller=group&action={action}" id="formParams" method="POST" autocomplete="off"
                enctype="multipart/form-data">
                <div class="col-md-12">
                    <a href="{actionBack}">
                        <div id="backButton" class="button align-middle">
                            <span class="align-middle">Retour à la liste</span>
                        </div>
                    </a>
                </div>
                <div class="separatorHorizontal"></div>
                <div class="row" {hiddenInputId}>
                    <div class="col-lg-12">
                        <label for="id" class="">Id :</label>
                        <input type="text" id="id" name="id" value="{id}" readonly class="form-control">
                    </div>
                </div>
                <div class='row'>
                    <div class="col-lg-12 mt-3 mb-3">
                        <legend>
                            <i class="fa fa-user"></i>Détail du groupe
                        </legend>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="nomGroupe" class="control-label note">Nom :*</label>
                            <input type="text" id="nomGroupe" name="nomGroupe" value="{nomGroupe}" class="form-control">
                            <span class="errorMsgFormAdherent">Le nom du groupe ne doit pas être vide</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for='emailGroupe' class="control-label note">Email :*</label>
                            <input type="email" id="emailGroupe" name="emailGroupe" value="{emailGroupe}"
                                class="form-control">
                            <span class="errorMsgFormAdherent">Le mail du groupe n'est pas au bon format</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for='telGroupe' class="control-label note">Téléphone :*</label>
                            <input type="telGroupe" id="telGroupe" name="telGroupe" value="{telGroupe}"
                                class="form-control">
                            <span class="errorMsgFormAdherent">Le téléphone n'est pas au bon format</span>
                        </div>
                    </div>
                    <div id="adressAutoInput" class="col-md-12">
                        <div class="form-group mb-0">
                            <label for='form-address' class="control-label note">Saisie automatique de l'adresse
                                :</label>
                            <input type="search" autocomplete="off"
                                placeholder="Recherchez une adresse postale complète" id="form-address"
                                name="form-address" value="{adresseGroupe}" class="form-control">
                        </div>
                        <div id="addressNotFound" class="mb-1 ml-3">ou saisir l'adresse manuellement</div>
                    </div>
                    <div id="adressInput" class="col-md-12">
                        <div class="form-group">
                            <label for='adresseGroupe' class="control-label note">Adresse :</label>
                            <input type="text" id="adresseGroupe" name="adresseGroupe" value="{adresseGroupe}"
                                class="form-control">
                        </div>
                    </div>
                    <div id="zipInput" class="col-md-6">
                        <div class="form-group">
                            <label for='codepostalGroupe' class="control-label note">Code Postal :</label>
                            <input type="text" id="codepostalGroupe" name="codepostalGroupe" value="{codepostalGroupe}"
                                class="form-control">
                        </div>
                    </div>
                    <div id="townInput" class="col-md-6">
                        <div class="form-group">
                            <label for='villeGroupe' class="control-label note">Ville :</label>
                            <input type="text" id="villeGroupe" name="villeGroupe" value="{villeGroupe}"
                                class="form-control">
                        </div>
                    </div>
                    <div id="adressResetButton" class="col-md-12 d-flex">
                        <span class="valignMiddle ml-auto text-center">Supprimer l'adresse et en saisir une
                            nouvelle</span>
                    </div>
                </div>
                <div class='row' >
                    <div class="col-lg-12 mt-3 mb-3">
                        <legend>
                            <i class="fas fa-radar"></i>Recherche parmi vos adhérents
                        </legend>
                    </div>
                </div>
                <div class="row">
                    <div id="searchMemberForGroup" class="col-md-6" {searchMemberForGroupHidden}>
                        <div id="memberForGroupSelection" class="form-group">
                            <label for='sel_MemberNameForGroup' class="control-label note">Adhérent représentant le
                                groupe :
                                *</label>
                            <select id='sel_MemberNameForGroup'
                                name='sel_MemberNameForGroup'>{memberNameForGroup}</select>
                        </div>
                    </div>
                    <div id="MemberLeaderGroupSelectedForChange" class="col-md-6" {hiddenMemberLeaderGroupSelectedForChange}>
                        <div class="md-form mb-2">
                            <label for="MemberLeaderGroupSelectedForChange" class="control-label note">Adhérent représentant le
                                groupe :</label>
                            <input type="text" id="MemberSelectedLeaderGroupForChange" name="MemberLeaderGroupSelectedForChange" class="form-control"
                                value="{MemberLeaderGroupSelectedForChange}" {readonlyMemberLeaderGroupSelectedForChange}>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-start flex-wrap">
                        <div id="searchIfNotFoundForGroup" class="formHelper col-md-6" {formHelperLeaderGroupHidden}>
                            Saisissez les premières lettres du nom.
                            Si la personne n'apparait pas dans la liste <a href="{actionAddAdherent}">cliquez ici</a>
                        </div>
                    </div>
                </div>
                <div class="row groupUserByName">
                    <div id="GroupLeaderFirstName" class="col-md-6">
                        <div class="md-form mb-2">
                            <label for="representantPrenomGroupe" class="control-label note">Prénom :</label>
                            <input type="text" id="representantPrenomGroupe" name="representantPrenomGroupe"
                                class="form-control">
                            <span class="errorMsgFormAdherent">Le prénom du représentant du groupe ne doit pas être
                                vide</span>
                        </div>
                    </div>
                    <div id="GroupLeaderName" class="col-md-6">
                        <div class="md-form mb-2">
                            <label for="representantNomGroupe" class="control-label note">Nom :</label>
                            <input type="text" id="representantNomGroupe" name="representantNomGroupe"
                                class="form-control">
                            <span class="errorMsgFormAdherent">Le nom du représentant du groupe ne doit pas être
                                vide</span>
                        </div>
                    </div>
                </div>
                <div class="row" {hiddenResetButtonMemberForGroup}>
                    <div id="MemberForGroupResetButton" class="col-md-12 d-flex">
                        <span class="valignMiddle ml-auto text-center">Supprimer l'adhérent et en
                            saisir un
                            autre</span>
                    </div>
                </div>
                <fieldset class="text-center">
                    <div class="bottom padding-10 actions">
                        <input type="submit" id="buttonAddGroup" class="btn btn-primary btn-xs-full"
                            value="{valueButtonSubmitDocument}">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
<script>
    (function () {
        var placesAutocomplete = places({
            appId: 'plTW9BIBIPG4',
            apiKey: '0ddbd171c5584f73f426eaeec4c29456',
            container: document.querySelector('#form-address'),
            templates: {
                value: function (suggestion) {
                    return suggestion.name;
                }
            }
        }).configure({
            type: 'address'
        });
        placesAutocomplete.on('change', function resultSelected(e) {
            document.querySelector('#adresseGroupe').value = e.suggestion.name || '';
            document.querySelector('#villeGroupe').value = e.suggestion.city || '';
            document.querySelector('#codepostalGroupe').value = e.suggestion.postcode || '';
        });
    })();
</script>
<script>
    var input = document.querySelector("#telGroupe");
    window.intlTelInput(input, {
        // allowDropdown: false,
        // autoHideDialCode: false,
        // autoPlaceholder: "off",
        dropdownContainer: document.body,
        // excludeCountries: ["us"],
        // formatOnDisplay: false,
        // geoIpLookup: function(callback) {
        //   $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
        //     var countryCode = (resp && resp.country) ? resp.country : "";
        //     callback(countryCode);
        //   });
        // },
        // hiddenInput: "full_number",
        // initialCountry: "auto",
        // localizedCountries: { 'de': 'Deutschland' },
        // nationalMode: false,
        // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
        // placeholderNumberType: "MOBILE",
        // preferredCountries: ['cn', 'jp'],
        // separateDialCode: true,
        utilsScript: "build/js/utils.js",
    });
</script>