<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<div class="ui inverted vertical masthead center aligned segment">
    <div class='ui container'>
        <h2 style='margin: 0 0 2em 0; color: white;'>Chercher un adhérent</h2>
        <select class='ui fluid search normal dropdown' id='searchBar'>
            <option></option>
            {name}
        </select>
        <button id='btnSearch' class='btn btn-success btn btn-success mt-5 p-2'>Trouve moi un adhérent<i class="fas fa-search ml-2"></i></button>
    </div>
</div>
<div class="ui container" id="list">
</div>