<main id="main">
    <header>
        <div class="siteCache" id="siteCache"></div>
        <div class="buttonMenu" id="buttonMenu">
            <div id="hide-menu" class="btn-header">
                <span>
                    <a href="#" id="sidebarCollapse" data-action="toggleMenu" title="Aggrandir le menu">
                        <i class="fa fa-reorder"></i>
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </span>
            </div>
            <div class="inner-header {header-css}">
                <i class="{fa-plus}"></i>
                <div class="header-content">
                    <div class="my-page-title">
                        {titreFormulaire}</div>
                </div>
            </div>
        </div>
        <nav id="principal" class="menu">
            <div id="open-menu" class="btn-header">
                <span>
                    <a href="#" id="closedMenu" data-action="toggleMenu" title="Déplier le menu">
                        <i class="fa fa-arrow-left"></i>
                        <i class="fa fa-reorder"></i>
                    </a>
                </span>
            </div>
            <div class="inner-left-pannel">
                <div class="my-avatar">
                    <a href="index.php" title="Voir l'association">
                        <img src="{logo}" class="img-fluid img-circle img-thumbnail" alt="logo">
                    </a>
                </div>
                <div class="my-moving-parts">
                    <div class="my-param-content"></div>
                    <div class="my-normal-content">
                        <div class="inner-tabs-navigation" data-active="menu">
                            <div class="onglets" data-onglet="menu" title="Ouvrir le menu de navigation">
                                Navigation </div>
                            <div class="onglets" data-onglet="account" title="Voir mon compte">
                                Mon compte </div>
                        </div>
                        <div class="inner-tabs">
                            <div class="account-tab">

                                <div class="parameters-opener" title="Ouvrir mes paramètres">
                                    <a href="{account}" class="btn btn-labeled btn-primary"
                                        style="margin-top:9px; margin-right:9px">
                                        <span class="btn-label" style="font-size: 13px;font-weight: 900;">
                                            <i class="fa falock fa-cog"></i></span>
                                        <span class="title">Paramètres du compte</span>
                                    </a>
                                </div>
                                <div class="logout-opener" title="Ouvrir mes paramètres">
                                    <a href="{logout}" class="btn btn-labeled btn-danger confirm"
                                        data-callback="confirmLogoutCallback" title="Déconnexion"
                                        data-confirm="{&quot;title&quot;:&quot;D\u00e9connexion&quot;,&quot;content&quot;:&quot;Vous pouvez am\u00e9liorer votre s\u00e9curit\u00e9 apr\u00e8s vous \u00eatre d\u00e9connect\u00e9 en fermant votre navigateur.&quot;,&quot;yes_button_text&quot;:&quot;Oui&quot;,&quot;no_button_text&quot;:&quot;Non&quot;}"
                                        style="margin-top:9px; margin-right:9px">
                                        <span class="btn-label" style="font-size: 13px;font-weight: 900;">
                                            <i class="fa fa-sign-out"></i></span>
                                        <span class="title">Déconnexion</span>
                                    </a>
                                </div>
                            </div>
                            <div class="menu-tab">
                                <nav class="menu-principal">
                                    <ul class="menu-principal-list">
                                        <li>
                                            <a data-dl-view="true" data-dl-title="Tableau de bord" href="index.php">
                                                <span class="icon-container">
                                                    <i class="fa fa-dashboard fa-xs"></i>
                                                </span>
                                                <span class="text item">
                                                    Tableau de bord </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-dl-view="true" data-dl-title="Liste adhérents"
                                                href="{actionListMembers}">
                                                <span class="icon-container">
                                                    <i class="fa fa-users"></i>
                                                </span>
                                                <span class="text item">
                                                    Liste des adhérents </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-dl-view="true" data-dl-title="Consulter vos documents"
                                                href="{actionReadDocuments}">
                                                <span class="icon-container">
                                                    <i class="fas fa-atlas"></i>
                                                </span>
                                                <span class="text item">
                                                    Consulter vos documents </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-dl-view="true" data-dl-title="Gérer vos news"
                                                href="{actionCreateNews}">
                                                <span class="icon-container">
                                                    <i class="fas fa-rss"></i>
                                                </span>
                                                <span class="text item">
                                                    Gérez vos news </span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
        </nav>
    </header>
    <div class="container">
        <h2 class="text-center mt-4 mb-5">{titreFormulaire}</h2>
        <div class="row">

            <!--Grid column-->
            <div class="col-md-12 mb-md-0 mb-4">
                <form action="index.php?controller=adherent&action={action}" id="formAdherent" method="POST"
                    enctype="multipart/form-data">
                    <div class="d-flex justify-content-start mb-3">
                        <p class="mb-0" {resetButtonForUpdate}><button type="reset" id="buttonReset"
                                class="btn btn-reset btn-head-form">Effacer <i class="fas fa-recycle"></i></button>
                        </p>
                        <p id="notificationMail" class="mb-0" {hiddenCheckedBox}>
                            <label class="switch ">
                                <input type="checkbox" class="success" name="notification" value="checked">
                                <span class="slider round"></span>
                            </label>
                            <span id="notificationLabel">Alerter la personne par mail de son ajout</span>
                        </p>
                    </div>
                    <div class='row'>
                        <div class="col-lg-12 mt-3 mb-3">
                            <legend>
                                <i class="fa fa-user"></i>Informations personnelles
                            </legend>
                        </div>
                    </div>
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-12" {inputID}>
                            <div class="md-form mb-0">
                                <label for="id" class="">Id :</label>
                                <input type="text" id="id" name="id" value="{id}" readonly class="form-control">
                            </div>
                        </div>
                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <label for="nom" class="control-label note">Nom :*</label>
                                <input type="text" id="nom" name="nom" value="{nom}" class="form-control">
                                <span class="errorMsgFormAdherent">Le nom ne doit pas être vide</span>
                            </div>
                        </div>
                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for='prenom' class="control-label note">Prénom :*</label>
                                <input type="text" id="prenom" name="prenom" value="{prenom}" class="form-control">
                                <span class="errorMsgFormAdherent">Le prénom ne doit pas être vide</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for='email' class="control-label note">Email :*</label>
                                <input type="email" id="email" name="email" value="{email}" class="form-control">
                                <span class="errorMsgFormAdherent">Le mail n'est pas au bon format</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for='tel' class="control-label note">Téléphone :*</label>
                                <input type="tel" id="tel" name="tel" value="{tel}" class="form-control">
                                <span class="errorMsgFormAdherent">Le téléphone n'est pas au bon format</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for='sexe' class="control-label note">Sexe :</label>
                                <select id="sexe" name="sexe" class="form-control">
                                    <option></option>
                                    {sexe}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="degreesSelection" class="form-group">
                                <label for='sel_degrees' class="control-label note">Diplôme :</label>
                                <select id='sel_degrees' name="sel_degrees">
                                    <option value=''>---</option>
                                    <!-- <option></option> -->
                                    {degrees}
                                </select>
                                <span class="help-block">Votre plus haut diplôme obtenu.</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="jobsSelection" class="form-group">
                                <label for='sel_jobs' class="control-label note">Poste occupé :</label>
                                <select id='sel_jobs' name='sel_jobs'>{job}</select>
                                <span class="help-block">{family}</span>
                            </div>
                        </div>
                        <div id="adressAutoInput" class="col-md-12">
                            <div class="form-group mb-0">
                                <label for='form-address' class="control-label note">Saisie automatique de l'adresse
                                    :</label>
                                <input type="search" autocomplete="off"
                                    placeholder="Recherchez une adresse postale complète" id="form-address"
                                    name="form-address" value="{adresse}" class="form-control">
                            </div>
                            <div id="addressNotFound" class="mb-1 ml-3">ou saisir l'adresse manuellement</div>
                        </div>
                        <div id="adressInput" class="col-md-12">
                            <div class="form-group">
                                <label for='adresse' class="control-label note">Adresse :</label>
                                <input type="text" id="adresse" name="adresse" value="{adresse}" class="form-control">
                            </div>
                        </div>
                        <div id="zipInput" class="col-md-6">
                            <div class="form-group">
                                <label for='codepostal' class="control-label note">Code Postal :</label>
                                <input type="text" id="codepostal" name="codepostal" value="{codepostal}"
                                    class="form-control">
                            </div>
                        </div>
                        <div id="townInput" class="col-md-6">
                            <div class="form-group">
                                <label for='ville' class="control-label note">Ville :</label>
                                <input type="text" id="ville" name="ville" value="{ville}" class="form-control">
                            </div>
                        </div>
                        <div id="adressResetButton" class="col-md-12 d-flex">
                            <span class="valignMiddle ml-auto text-center">Supprimer l'adresse et en saisir une
                                nouvelle</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mt-3 mb-3">
                            <legend>
                                <i class="fas fa-image"></i>Photo/Avatar
                            </legend>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex flex-wrap smart-form">
                                <label for="photo"
                                    class="col-md-2 control-label note padding-top-10 text-lg-right">Importez
                                    votre
                                    propre image.</label>
                                <div class="col-lg-6 col-md-7">
                                    <div class="input-file-container">
                                        <input type="file" class="form-control-file" id="photo" name="photo"
                                            aria-describedby="photo">
                                        <div class="button-file">Parcourir</div>
                                        <label for="avatar" class="input-file-trigger">Choisir votre photo
                                        </label>
                                        <small class="show">Taille maximum : 2 Mo, type de fichier : .jpeg,
                                            .png</small>
                                    </div>
                                    <p class="file-return"></p>
                                    <img src='{photo}' id="photoTemplate" class="media-object img-circle" width="65px"
                                        style="height:auto;text-align:center;" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-left">
                            <div class="form-group">
                                <label class="col-md-12 control-label note text-left">
                                    ou choisissez un avatar existant </label>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap col-lg-6 col-md-7 col-sm-10 col-md-offset-2 params-avatars">
                            <input type="hidden" name="icon" value="">
                            <div class="col-xs-3 col-md-2">
                                <div style="height:90px;cursor:pointer;text-align:center;" title="Avatar-F-1">
                                    <label>
                                        <input type="radio" name="icon" value="img/Avatar-F-1.png"><img
                                            src="img/Avatar-F-1.png" class="media-object img-circle" width="65px"
                                            style="opacity:.5;"></label>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-2">
                                <div style="height:90px;cursor:pointer;text-align:center;" title="Avatar-F-2">
                                    <label>
                                        <input type="radio" name="icon" value="img/Avatar-F-2.png"><img
                                            src="img/Avatar-F-2.png" class="media-object img-circle" width="65px"
                                            style="opacity:.5;"></label>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-2">
                                <div style="height:90px;cursor:pointer;text-align:center;" title="Avatar-F-3">
                                    <label>
                                        <input type="radio" name="icon" value="img/Avatar-F-3.png"><img
                                            src="img/Avatar-F-3.png" class="media-object img-circle" width="65px"
                                            style="opacity:.5;"></label>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-2">
                                <div style="height:90px;cursor:pointer;text-align:center;" title="Avatar-F-4">
                                    <label>
                                        <input type="radio" name="icon" value="img/Avatar-F-4.png"><img
                                            src="img/Avatar-F-4.png" class="media-object img-circle" width="65px"
                                            style="opacity:.5;"></label>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-2">
                                <div style="height:90px;cursor:pointer;text-align:center;" title="Avatar-F-5">
                                    <label>
                                        <input type="radio" name="icon" value="img/Avatar-F-5.png"><img
                                            src="img/Avatar-F-5.png" class="media-object img-circle" width="65px"
                                            style="opacity:.5;"></label>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-2">
                                <div style="height:90px;cursor:pointer;text-align:center;" title="Avatar-F-6">
                                    <label>
                                        <input type="radio" name="icon" value="img/Avatar-F-6.png"><img
                                            src="img/Avatar-F-6.png" class="media-object img-circle" width="65px"
                                            style="opacity:.5;"></label>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-2">
                                <div style="height:90px;cursor:pointer;text-align:center;" title="Avatar-H-1">
                                    <label>
                                        <input type="radio" name="icon" value="img/Avatar-H-1.png"><img
                                            src="img/Avatar-H-1.png" class="media-object img-circle" width="65px"
                                            style="opacity:.5;"></label>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-2">
                                <div style="height:90px;cursor:pointer;text-align:center;" title="Avatar-H-2">
                                    <label>
                                        <input type="radio" name="icon" value="img/Avatar-H-2.png"><img
                                            src="img/Avatar-H-2.png" class="media-object img-circle" width="65px"
                                            style="opacity:.5;"></label>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-2">
                                <div style="height:90px;cursor:pointer;text-align:center;" title="Avatar-H-3">
                                    <label>
                                        <input type="radio" name="icon" value="img/Avatar-H-3.png"><img
                                            src="img/Avatar-H-3.png" class="media-object img-circle" width="65px"
                                            style="opacity:.5;"></label>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-2">
                                <div style="height:90px;cursor:pointer;text-align:center;" title="Avatar-H-4">
                                    <label>
                                        <input type="radio" name="icon" value="img/Avatar-H-4.png"><img
                                            src="img/Avatar-H-4.png" class="media-object img-circle" width="65px"
                                            style="opacity:.5;"></label>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-2">
                                <div style="height:90px;cursor:pointer;text-align:center;" title="Avatar-H-5">
                                    <label>
                                        <input type="radio" name="icon" value="img/Avatar-H-5.png"><img
                                            src="img/Avatar-H-5.png" class="media-object img-circle" width="65px"
                                            style="opacity:.5;"></label>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-2">
                                <div style="height:90px;cursor:pointer;text-align:center;" title="Avatar-H-6">
                                    <label>
                                        <input type="radio" name="icon" value="img/Avatar-H-6.png"><img
                                            src="img/Avatar-H-6.png" class="media-object img-circle" width="65px"
                                            style="opacity:.5;"></label>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-2">
                                <div style="height:90px;cursor:pointer;text-align:center;" title="Avatar-M-1">
                                    <label>
                                        <input type="radio" name="icon" value="img/Avatar-M-1.png"><img
                                            src="img/Avatar-M-1.png" class="media-object img-circle" width="65px"
                                            style="opacity:.5;"></label>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-2">
                                <div style="height:90px;cursor:pointer;text-align:center;" title="Avatar-M-2">
                                    <label>
                                        <input type="radio" name="icon" value="img/Avatar-M-2.png"><img
                                            src="img/Avatar-M-2.png" class="media-object img-circle" width="65px"
                                            style="opacity:.5;"></label>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-2">
                                <div style="height:90px;cursor:pointer;text-align:center;" title="Avatar-M-3">
                                    <label>
                                        <input type="radio" name="icon" value="img/Avatar-M-3.png"><img
                                            src="img/Avatar-M-3.png" class="media-object img-circle" width="65px"
                                            style="opacity:.5;"></label>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-2">
                                <div style="height:90px;cursor:pointer;text-align:center;" title="Avatar-M-4">
                                    <label>
                                        <input type="radio" name="icon" value="img/Avatar-M-4.png"><img
                                            src="img/Avatar-M-4.png" class="media-object img-circle" width="65px"
                                            style="opacity:.5;"></label>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-2">
                                <div style="height:90px;cursor:pointer;text-align:center;" title="Avatar-M-5">
                                    <label>
                                        <input type="radio" name="icon" value="img/Avatar-M-5.png"><img
                                            src="img/Avatar-M-5.png" class="media-object img-circle" width="65px"
                                            style="opacity:.5;"></label>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-2">
                                <div style="height:90px;cursor:pointer;text-align:center;" title="Avatar-M-6">
                                    <label>
                                        <input type="radio" name="icon" value="img/Avatar-M-6.png"><img
                                            src="img/Avatar-M-6.png" class="media-object img-circle" width="65px"
                                            style="opacity:.5;"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <fieldset class="text-center">
                        <div class="bottom padding-10 actions">
                            <input type="submit" name="submit" id="submitMember" class="btn btn-primary btn-xs-full"
                                value="Enregistrer">
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</main>
<script>
    (function () {
        var placesAutocomplete = places({
            appId: 'plTW9BIBIPG4',
            apiKey: '0ddbd171c5584f73f426eaeec4c29456',
            container: document.querySelector('#form-address'),
            templates: {
                value: function (suggestion) {
                    return suggestion.name;
                }
            }
        }).configure({
            type: 'address'
        });
        placesAutocomplete.on('change', function resultSelected(e) {
            document.querySelector('#adresse').value = e.suggestion.name || '';
            document.querySelector('#ville').value = e.suggestion.city || '';
            document.querySelector('#codepostal').value = e.suggestion.postcode || '';
        });
    })();
</script>
<script>
    var input = document.querySelector("#tel");
    window.intlTelInput(input, {
        // allowDropdown: false,
        // autoHideDialCode: false,
        // autoPlaceholder: "off",
        dropdownContainer: document.body,
        // excludeCountries: ["us"],
        // formatOnDisplay: false,
        // geoIpLookup: function(callback) {
        //   $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
        //     var countryCode = (resp && resp.country) ? resp.country : "";
        //     callback(countryCode);
        //   });
        // },
        // hiddenInput: "full_number",
        // initialCountry: "auto",
        // localizedCountries: { 'de': 'Deutschland' },
        // nationalMode: false,
        // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
        // placeholderNumberType: "MOBILE",
        // preferredCountries: ['cn', 'jp'],
        // separateDialCode: true,
        utilsScript: "build/js/utils.js",
    });
</script>